<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>
      New post <%= @post.title %> is added with the body as <%= @post.body %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>